@model ATL.Models.ViewModels.BookViewModel

@{
    ViewBag.Title = "Add";
}

<div class="container">
    <h2>Add</h2>

    @using (Html.BeginForm("Create","Book"))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Book.Title)
            @Html.TextBoxFor(m => m.Book.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Book.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Book.SubTitle)
            @Html.TextBoxFor(m => m.Book.SubTitle, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Book.SubTitle)
        </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Book.CategoryId)
                @Html.DropDownListFor(m => m.Book.CategoryId, new SelectList(Model.Categories, "CategoryId", "CategoryName"), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.CategoryId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Book.Authors)
                @Html.TextBoxFor(m => m.Book.Authors, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.Authors)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Book.Language)
                @Html.TextBoxFor(m => m.Book.Language, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.Language)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Book.Thumbnail)
                @Html.TextBoxFor(m => m.Book.Thumbnail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.Thumbnail)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Book.NoOfCopiesAvailable)
                @Html.TextBoxFor(m => m.Book.NoOfCopiesAvailable, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.NoOfCopiesAvailable)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Book.ISBN)
                @Html.TextBoxFor(m => m.Book.ISBN, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.ISBN)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Book.AverageRating)
                @Html.TextBoxFor(m => m.Book.AverageRating, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.AverageRating)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Book.Description)
                @Html.TextAreaFor(m => m.Book.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.Description)
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Save" id="Submit" class="btn btn-primary" />                  
               </div>
            </div>

    }
</div>